<div class="container">

  <h2 class="sport-title <%= @team.sport.name %>"><%= "#{@team.city} #{@team.name}" %></h2>

  <div class="panel panel-default">
    <div class="stories <%= @team.full_name.to_snake_case%> panel-body"></div>
  </div>

  <% if session[:user_id] %>
    <form method="post" action=<%= "/users/#{session[:user_id]}/edit" %>>
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="team_id" value=<%= "#{@team.id}" %>>
      <% if @user.teams.include?(@team) %>
        <label class="team-edit btn btn-default" for="action"><input type="radio" name="action" value="remove_team"> Remove Team</label>
      <% else %>
        <label class="team-edit btn btn-default" for="action"><input type="radio" name="action" value="add_team"> Add Team</label>
      <% end %>
        <input type="submit" value="Update team preferences">
    </form>
  <% end %>

</div>
